@media (min-width: 1024px) {

    /////////////
    .main-logo {
        h1 {
            display: block;
            font-size: 0.9rem;
        }
    }

    /////////////////
    .section-one {
        height: 900px;

        img {
            width: 320px;
            height: 400px;
        }
    }

    ////////////////
    .section-two {
        h3 {
            font-size: 1.6rem;
        }
    }

    ///////////////////// 
    .card-ugam {
        min-height: 580px;

    }

    //////////// 
    .galleryOne img {
        max-height: 460px;
    }

    ///////////////////// 
    .galleryTwo {
        .galleryTwo-carousel {
            max-height: 550px;
        }
    }

    /////////////// 
    .education_carousel {

        &__content {
            flex-direction: row;

            div {
                width: 50%;
            }
        }

    }
}