@media (min-width:1260px) {
    .main-logo {
        h1 {
            display: block;
            font-size: 1.2rem;
        }
    }

    //////////// 
    .galleryOne img {
        max-height: 800px;
    }

    ///////////////////// 
    .galleryTwo {
        .galleryTwo-carousel {
            max-height: 950px;
        }
    }

    .education_carousel {
        &__img {
            img {
                height: 60vh;
                width: 60vw;
                max-width: 550px;
            }
        }
    }
}