@media (min-width: 1024px) {
  .main-logo h1 {
    display: block;
    font-size: 0.9rem;
  }

  .section-one {
    height: 900px;
  }

  .section-two h3 {
    font-size: 1.6rem;
  }

  .card-ugam {
    min-height: 580px;
  }

  .galleryOne img {
    max-height: 460px;
  }

  .galleryTwo .galleryTwo-carousel {
    max-height: 550px;
  }

  .education_carousel__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .education_carousel__content div {
    width: 50%;
  }

  .education_carousel img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    height: 60vh;
    overflow: hidden;
  }
}