@media (min-width:1260px) {
    .main-logo {
        h1 {
            display: block;
            font-size: 1.2rem;
        }
    }
//////////////////////////
.card-ugam {
    min-height: 730px;
}
//////////// 
#galleryOne img {
    max-height: 700px;
}
}