@media (min-width:1260px) {
    .main-logo {
        h1 {
            display: block;
            font-size: 1.2rem;
        }
    }

    //////////// 
    .galleryOne img {
        max-height: 700px;
    }

    ///////////////////// 
    .galleryTwo {
        .galleryTwo-carousel {
            max-height: 950px;
        }
    }
}