@media (min-width:550px) {

    ///////////////////////
    .section-one {
        height: 700px;
    }

    ////////////////////////
    .section-two {
        h3 {
            font-size: 1.2rem;
        }
    }

    ////// 
    .galleryOne img {
        max-height: 370px;
    }

    /////////////////// 
    .galleryTwo {
        .galleryTwo-carousel {
            max-height: 350px;
        }
    }

    /////////////////////   
    .organization {
        height: 600px;
    }

    /////////////// 
    .education_carousel {

        &__info {
            margin-top: 30px;
        }

        &__img {
            display: block;
            margin: 0 auto;
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}