@media (min-width: 768px) {
  .section-one {
    height: 700px;
    background-position: bottom;
  }
  .section-one img {
    width: 280px;
    height: 340px;
  }
  .section-one h1 {
    font-size: 2.6rem;
  }
  .section-two img {
    width: 250px;
    -webkit-margin-after: 30px;
            margin-block-end: 30px;
  }
  .section-two h3 {
    font-size: 1.4rem;
  }
  .card-ugam {
    min-height: 500px;
  }
  .card-ugam h5 {
    font-size: 1.5rem;
  }
  .galleryOne img {
    max-height: 360px;
  }
  .galleryTwo {
    position: relative;
  }
  .galleryTwo h4 {
    padding: 5px;
    font-size: 1.6rem;
    max-width: 450px;
  }
  .galleryTwo .galleryTwo-carousel {
    max-height: 450px;
  }
  .expedition-item div.card-body {
    min-height: 250px;
  }
  .organization {
    height: 650px;
  }
  #aboutus .imageUs img {
    height: 35vh;
  }
  /* resumen en home page*/
  .novedades-resumen .card {
    min-height: 320px;
  }
}