.aboutUsCards {
    a {
        text-decoration: none;
        color: var(--bs-card-color);
    }

    a:hover {
        color: #000;
    }
}

.card-ugam {
    box-shadow: 3px 3px 15px rgba(#000, $alpha: 0.2);

    p {
        font-size: 1rem;
    }
}

.card-ugam:hover {
    box-shadow: 2px 2px 10px 3px rgba(#000, $alpha: 0.3);
}



///// responsive card image!!!!!!
#aboutus .imageUs img {
    object-fit: cover;
    object-position: center;
    height: 30vh;
    overflow: hidden;
}