.organization {
    height: 600px;
    background-image: url('https://res.cloudinary.com/arawato666/image/upload/v1689355285/UGAM/DJI_0782_abmp3w.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 260px;
        height: 240px;
        filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.7));
    }

    h2 {
        margin-block-start: 40px;
        text-align: center;
        color: $light;
        font-family: $title-font;
    }


}

.organization-content {

    h3 {
        font-family: $title-font;
    }

}

#formacion1 img {
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
}

///////////// tarjetas guias
.card-guia {
    box-shadow: 3px 3px 15px rgba(#000, $alpha: 0.2);
    position: relative;
    display: flex;
    min-height: 600px;
    max-width: 400px;
    align-self: center;
    //margin: 0 auto;

    .btn-info {
        position: absolute;
        bottom: 15px;
    }

    img {
        max-width: 800px;
    }
}

.card-guia .btn-warning:hover {
    border: solid 1px $CTA !important;
}

.card-guia a {
    margin-bottom: auto;
}


///// responsive card image!!!!!!
#recipeCarousel .card-guia img {
    border-radius: 10px 10px 0px 0px;
    ;
    object-fit: cover;
    object-position: center;
    height: 40vh;
    overflow: hidden;
}

///// responsive card image!!!!!!
.owl-carousel .expedition_carousel img {
    border-radius: 10px 10px 0px 0px;
    ;
    object-fit: cover;
    object-position: center;
    height: 40vh;
    overflow: hidden;
}