.organization {
    height: 600px;
    background-image: url('https://res.cloudinary.com/arawato666/image/upload/v1689355285/UGAM/DJI_0782_abmp3w.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 200px;
        height: 260px;
    }

    h2 {
        margin-block-start: 40px;
        text-align: center;
        color: $light;
        font-family: $title-font;
    }


}

.organization-content {
    h3 {
        font-family: $title-font;
    }

    img {
        max-width: 500px;
    }

}

#formacion1 img {
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
}