.education {
    background-color: #212529;
    color: $CTA;

    p {
        color: $light-grey;
    }


}


/////////
.education_carousel {
    background-color: #212529;
    margin-block-end: 120px;
    color: $light-grey;


    &__img {
        display: none;
    }

    &__content {
        display: flex;
        padding-inline: 10px;

        h4 {
            text-transform: uppercase;
            padding-bottom: 20px;
            color: $CTA;
        }
    }

    .carousel-inner .carousel-item>div:first-child {
        display: flex;
    }

    ///// responsive card image!!!!!!
    &__img {
        img {
            object-fit: cover;
            object-position: center;
            height: 50vh;
            width: 70vw;
            max-width: 450px;
            overflow: hidden;
        }
    }
}


.educactionIcons {

    width: 30px;
    margin-bottom: 20px;
    filter: invert(80%) sepia(78%) saturate(450%) hue-rotate(13deg) brightness(107%) contrast(102%);
}