.expedition {
    img {
        //max-width: 500px;
    }
}

.card-expedition {
    box-shadow: 3px 3px 15px rgba(#000, $alpha: 0.2);
    position: relative;
    display: flex;

    .btn-warning {
        border: solid 1px $dark;
        background-color: $CTA !important;
        color: black !important;
    }
}

.card-expedition .btn-warning:hover {
    border: solid 1px $CTA !important;
}

.card-expedition a {
    margin-bottom: auto;
}


///// responsive card image!!!!!!
#recipeCarousel .card-expedition img {
    object-fit: cover;
    object-position: center;
    height: 30vh;
    overflow: hidden;
}

.accordion {

    .accordion-button {
        background-color: $CTA !important;
        color: #000 !important;
        box-shadow: none !important;

    }

    .collapsed {

        background-color: #212529 !important;
        color: $light !important;
    }

    .accordion-item {
        background-color: #212529 !important;

    }

    .accordion-body {
        ul {
            padding: 0 !important;
            margin: 0 !important;
        }
    }

    .accordion-collapse {
        li {
            list-style: none;
        }
    }

    .accordion-collapse li:hover {
        color: $light !important;
        font-size: larger;
    }

}

///////////////////// responsive carousel snippet
@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.ugamInfo {
    padding: 50px 0 50px 0;

    a {
        max-width: fit-content;
        align-self: center;
        transition: transform 1s ease;

        img {
            width: 60px;
            padding: 0 10px;
        }
    }

    img {
        width: 250px
    }

    h6 {
        max-width: 400px;
        font-size: 1rem;
    }

}

/////
.cotizando {

    button {
        box-shadow: 3px 3px 5px rgba(#000, $alpha: 0.2);
    }

    .btn-warning {
        border: solid 1px $light-grey;
        background-color: $CTA !important;
        color: black !important;
        transition: transform 1s ease;
    }

    .btn-warning:hover {
        border: solid 1px $light-grey;
        transform: scale(1.2);
    }

    .btn-warning:active {
        box-shadow: none;
    }
}

/* medium and up screens */
@media (min-width: 768px) {

    .expedition-inner .expedition-item-end.active,
    .expedition-inner .expedition-item-next {
        transform: translateX(25%);
    }

    .expedition-inner .expedition-item-start.active,
    .expedition-inner .expedition-item-prev {
        transform: translateX(-25%);
    }
}

.expedition-inner .expedition-item-end,
.expedition-inner .expedition-item-start {
    transform: translateX(0);
}