.footer {
    background-color: $dark;
    min-height: 20vh;
    color: $light;

    a {
        text-decoration: none;
        color: $light;
    }

    a:hover {
        color: $CTA;
    }

    ul {
        padding-inline-start: 0;

        li {
            text-align: left;
            list-style: none;
            padding: 5px 0;
        }
    }

    .rrss img {
        width: 40px;
        height: 40px;

        filter: invert(100%);
    }

    .rrss a img:hover {
        filter: invert(88%) sepia(98%) saturate(518%) hue-rotate(8deg) brightness(101%) contrast(100%);

    }

    .contact-icons img {
        filter: invert(100%);
    }

    .contact-icons a:hover {
        img {
            filter: invert(88%) sepia(98%) saturate(518%) hue-rotate(8deg) brightness(101%) contrast(100%);

        }

    }

    .ugam-rights {
        color: $CTA;
    }

    .lm-contact {
        padding: 5px 0 5px 0;
        background-color: #212529;
        word-spacing: 5px;
        font-size: 0.8rem;

        strong {
            color: #00A388;
        }

        img {
            width: 20px;
            margin-left: 10px;
        }

        a:hover {
            img {
                width: 23px;
            }

            color: #02b899;
            font-size: 0.82rem;
        }
    }

}