$offwhite: #EDEDED;
//$CTA: #FFB300;
$CTA: #E6FF2A;
$light: #FFF;
$dark: #4D4D4D;
$main-font: 'Ubuntu', sans-serif;
$title-font: 'Carter One', cursive;
$light-grey: #E3E3E3;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    font-family: $main-font;
}

body {
    overflow-x: hidden;
}