#header-scroll.header nav{
    box-shadow: 0 0 7px 0 rgba(#000,  1.0);
}

.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: $CTA;
}
.main-logo {
    display: flex; 
    align-items: center;
    h1 {
        display: none;
        font-size: 1.5rem;
        margin-inline-start: 20px;
        padding-block-start: 10px;
    }
}

.main-logo img:hover {
    filter: invert(58%) sepia(97%) saturate(579%) hue-rotate(0deg) brightness(104%) contrast(105%);
}
.main-logo h1:hover {
    filter: invert(58%) sepia(97%) saturate(579%) hue-rotate(0deg) brightness(104%) contrast(105%);
}




