.section-one {
    height: 600px;
    background-image: url('https://res.cloudinary.com/arawato666/image/upload/v1686673982/UGAM/fondo_4_1_wq0sbf.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 0.2px $dark;

    img {
        width: 220px;
        height: 260px;
    }

    h2 {
        margin-block-start: 40px;
        text-align: center;
        color: #000;
        font-family: $title-font;
    }

}

.grey-div-down {
    height: 50px;
    background-image: linear-gradient(to bottom, #FFF, #f6fbfe, #f1f5f8, #ebeef1, #e6e8eb);
}

.grey-div-up {
    height: 50px;
    background-image: linear-gradient(to bottom, #e6e8eb, #ebeef1, #f1f5f8, #f6fbfe, #FFF);
}