.lista-novedades {
max-width: 500px;
 background-color: #212529;
 color: #fff;
 border-radius: 10px;
 li {
    background-color: #212529;
 }
 a {
    color: #fff;
 }
 a:hover {
    color: $CTA;
    font-size: large;
 }

}
/*seccion ppal*/
#nove .card img {
    object-fit: cover;
    object-position: center;
    height: 30vh;
    overflow: hidden;
}
/*para cada entrada*/
#novedad .card img {
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
}
/*hakunaa*/
#hakuna .card img {
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
}

/* resumen en home page*/
.novedades-resumen {
    border-top: solid 1px #212529;
    .card {
        box-shadow: 3px 3px 5px rgba(#000, $alpha: 0.2);
        img {
            border-radius: 10px;
        }
    }
}

/*copiar enlace*/


/* Estilos para el botón */
button.copyme {
    font-size: 12px;
    cursor: pointer;

}

/* Estilos para el mensaje flotante */
#mensaje {
    visibility: hidden;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    
    &.show {
        visibility: visible;
        opacity: 1;
    }
}
.wpbtn {
    border: none;
}