.partners-section {
    color: #000;
    background-color: $offwhite;

    .parters-icons img {
        min-width: 150px;
    }

    &__images {
        a {
            max-width: fit-content;
            align-self: center;
        }

        img {

            max-width: 300px;
        }

    }

}

.ugambanner {
    padding: 120px 0 120px 0;

    img {
        width: 150px
    }

    h3 {
        max-width: 800px;
        font-size: 1rem;
    }
}