.partners-section {
    color: #000;
    background-color: $offwhite;

    .btn-warning {
        border: $dark solid 0.2px;
        background-color: $CTA !important;
        color: black !important;
        transition: transform 0.5s ease;
    }

    .btn-warning:hover {
        border: $dark solid 0.2px;
        transform: scale(1.1);

    }

    .parters-icons img {
        min-width: 150px;
    }

    &__images {
        a {
            max-width: fit-content;
            align-self: center;
        }

        img {

            max-width: 300px;
        }

    }

}

.ugambanner {
    background-color: $light;
    padding: 150px 0 150px 0;

    a {
        max-width: fit-content;
        align-self: center;
        transition: transform 1s ease;
    }

    img {
        width: 250px
    }

    h3 {
        max-width: 800px;
        font-size: 1rem;
    }

    a .bagde {
        margin-top: 50px;
    }

    .btn-warning {
        background-color: #000 !important;
        color: $light !important;
        margin-top: 50px;
        text-decoration: none;
        padding: 5px 20px;
    }

}

.ugambanner a:hover {
    transform: scale(1.05);

    span {
        display: block;

    }
}