.section-one {
    height: 600px;
    background-image: url('https://res.cloudinary.com/arawato666/image/upload/v1658958765/UGAM/background_tekjim.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 200px;
        height: 260px;    
    }
    h1 {
        margin-block-start: 40px;
        text-align: center;
        color: #000;
    }
   
}
.grey-div {
    height: 50px;
    background-image: linear-gradient(to bottom, #f4f5f6, #edeff0, #e6e8ea, #e0e2e4, #d9dcde);
}