.galleryOne {
    position: relative;
}
.galleryOne img {
        max-height: 280px;
}
.galleryOne .overlay {
    height: 5vh;
    z-index: 2;
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9), transparent);
}   
