* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
}

body {
  overflow-x: hidden;
}

.scroll-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  z-index: 99999999;
}
.scroll-top-btn i {
  line-height: 10px;
}

.organization {
  height: 600px;
  background-image: url("https://res.cloudinary.com/arawato666/image/upload/v1689355285/UGAM/DJI_0782_abmp3w.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.organization img {
  width: 260px;
  height: 240px;
  -webkit-filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.7));
}
.organization h2 {
  -webkit-margin-before: 40px;
          margin-block-start: 40px;
  text-align: center;
  color: #FFF;
  font-family: "Carter One", cursive;
}

.organization-content h3 {
  font-family: "Carter One", cursive;
}

#formacion1 img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 50vh;
  overflow: hidden;
}

.card-guia {
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 600px;
  max-width: 400px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.card-guia .btn-info {
  position: absolute;
  bottom: 15px;
}
.card-guia img {
  max-width: 800px;
}

.card-guia .btn-warning:hover {
  border: solid 1px #E6FF2A !important;
}

.card-guia a {
  margin-bottom: auto;
}

#recipeCarousel .card-guia img {
  border-radius: 10px 10px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 40vh;
  overflow: hidden;
}

.owl-carousel .expedition_carousel img {
  border-radius: 10px 10px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 40vh;
  overflow: hidden;
}

.contactForm {
  background-color: #E2E2E2;
}
.contactForm .heading h5 {
  max-width: 700px;
}
.contactForm button {
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.contactForm .btn-warning {
  border: solid 1px #E3E3E3;
  background-color: #E6FF2A !important;
  color: black !important;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
.contactForm .btn-warning:hover {
  border: solid 1px #E3E3E3;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer {
  background-color: #4D4D4D;
  min-height: 20vh;
  color: #FFF;
}
.footer a {
  text-decoration: none;
  color: #FFF;
}
.footer a:hover {
  color: #E6FF2A;
}
.footer ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.footer ul li {
  text-align: left;
  list-style: none;
  padding: 5px 0;
}
.footer .rrss img {
  width: 40px;
  height: 40px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.footer .rrss a img:hover {
  -webkit-filter: invert(88%) sepia(98%) saturate(518%) hue-rotate(8deg) brightness(101%) contrast(100%);
          filter: invert(88%) sepia(98%) saturate(518%) hue-rotate(8deg) brightness(101%) contrast(100%);
}
.footer .contact-icons img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.footer .contact-icons a:hover img {
  -webkit-filter: invert(88%) sepia(98%) saturate(518%) hue-rotate(8deg) brightness(101%) contrast(100%);
          filter: invert(88%) sepia(98%) saturate(518%) hue-rotate(8deg) brightness(101%) contrast(100%);
}
.footer .ugam-rights {
  color: #E6FF2A;
}
.footer .lm-contact {
  padding: 5px 0 5px 0;
  background-color: #212529;
  word-spacing: 5px;
  font-size: 0.8rem;
}
.footer .lm-contact strong {
  color: #00A388;
}
.footer .lm-contact img {
  width: 20px;
  margin-left: 10px;
}
.footer .lm-contact a:hover {
  color: #02b899;
  font-size: 0.82rem;
}
.footer .lm-contact a:hover img {
  width: 23px;
}

#header-scroll.header nav {
  -webkit-box-shadow: 0 0 7px 0 black;
          box-shadow: 0 0 7px 0 black;
}

.navbar .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #E6FF2A;
}

.main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-logo h1 {
  display: none;
  font-size: 1.5rem;
  -webkit-margin-start: 20px;
          margin-inline-start: 20px;
  -webkit-padding-before: 10px;
          padding-block-start: 10px;
}

.main-logo:hover {
  text-decoration: underline;
}

.section-one {
  height: 600px;
  background-image: url("https://res.cloudinary.com/arawato666/image/upload/v1686673982/UGAM/fondo_4_1_wq0sbf.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 0.2px #4D4D4D;
}
.section-one img {
  width: 220px;
  height: 260px;
}
.section-one h2 {
  -webkit-margin-before: 40px;
          margin-block-start: 40px;
  text-align: center;
  color: #000;
  font-family: "Carter One", cursive;
}

.grey-div-down {
  height: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), color-stop(#f6fbfe), color-stop(#f1f5f8), color-stop(#ebeef1), to(#e6e8eb));
  background-image: linear-gradient(to bottom, #FFF, #f6fbfe, #f1f5f8, #ebeef1, #e6e8eb);
}

.grey-div-up {
  height: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e8eb), color-stop(#ebeef1), color-stop(#f1f5f8), color-stop(#f6fbfe), to(#FFF));
  background-image: linear-gradient(to bottom, #e6e8eb, #ebeef1, #f1f5f8, #f6fbfe, #FFF);
}

.section-two {
  background-image: url("https://res.cloudinary.com/arawato666/image/upload/v1689647040/DJI_0782_abmp3w_evuvdn.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  -webkit-filter: opacity(75%);
          filter: opacity(75%);
}
.section-two h3 {
  padding-inline: 10px;
  max-width: 800px;
  font-size: 1rem;
  color: #FFF;
  text-shadow: 2px 2px 2px #000;
}

.aboutUsCards a {
  text-decoration: none;
  color: var(--bs-card-color);
}
.aboutUsCards a:hover {
  color: #000;
}

.card-ugam {
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}
.card-ugam p {
  font-size: 1rem;
}
.card-ugam .text-bg-warning {
  border: solid 1px #E3E3E3;
  background-color: #E6FF2A !important;
  color: black !important;
}

.card-ugam:hover {
  -webkit-box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.3);
}

#aboutus .imageUs img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 30vh;
  overflow: hidden;
}

.galleryOne {
  position: relative;
}

.galleryOne img {
  max-height: 280px;
}

.galleryOne .overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), to(transparent));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), transparent);
}

.preGalleryOne img {
  max-width: 300px;
}

.galleryTwo {
  position: relative;
}
.galleryTwo h5 {
  font-size: 1.2rem;
  max-width: 350px;
}
.galleryTwo .galleryTwo-carousel {
  max-height: 300px;
  overflow: hidden;
}
.galleryTwo .galleryTwo-carousel .item img {
  width: 100%;
  height: auto;
}

.dome {
  max-width: 500px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.9)), to(transparent));
  background: linear-gradient(to top, rgba(255, 255, 255, 0.9), transparent);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.card-expedition {
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card-expedition .btn-warning {
  border: solid 1px #4D4D4D;
  background-color: #E6FF2A !important;
  color: black !important;
}

.card-expedition .btn-warning:hover {
  border: solid 1px #E6FF2A !important;
}

.card-expedition a {
  margin-bottom: auto;
}

#recipeCarousel .card-expedition img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 30vh;
  overflow: hidden;
}

.accordion .accordion-button {
  background-color: #E6FF2A !important;
  color: #000 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.accordion .collapsed {
  background-color: #212529 !important;
  color: #FFF !important;
}
.accordion .accordion-item {
  background-color: #212529 !important;
}
.accordion .accordion-body ul {
  padding: 0 !important;
  margin: 0 !important;
}
.accordion .accordion-collapse li {
  list-style: none;
}
.accordion .accordion-collapse li:hover {
  color: #FFF !important;
  font-size: larger;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }

  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ugamInfo {
  padding: 50px 0 50px 0;
}
.ugamInfo a {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
.ugamInfo a img {
  width: 60px;
  padding: 0 10px;
}
.ugamInfo img {
  width: 250px;
}
.ugamInfo h6 {
  max-width: 400px;
  font-size: 1rem;
}

.cotizando button {
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.cotizando .btn-warning {
  border: solid 1px #E3E3E3;
  background-color: #E6FF2A !important;
  color: black !important;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
.cotizando .btn-warning:hover {
  border: solid 1px #E3E3E3;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.cotizando .btn-warning:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* medium and up screens */
@media (min-width: 768px) {
  .expedition-inner .expedition-item-end.active,
.expedition-inner .expedition-item-next {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }

  .expedition-inner .expedition-item-start.active,
.expedition-inner .expedition-item-prev {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
}
.expedition-inner .expedition-item-end,
.expedition-inner .expedition-item-start {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.ticker-container img {
  max-width: 200px;
}

.ticker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ticker__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-animation: ticker 15s infinite linear;
          animation: ticker 15s infinite linear;
}

.ticker:hover .ticker__list {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.ticker__item {
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ticker__item img {
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
  max-height: 100px;
}

.ticker__item:hover img {
  -webkit-filter: none;
          filter: none;
}
@-webkit-keyframes ticker {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes ticker {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.partners-section {
  color: #000;
  background-color: #EDEDED;
}
.partners-section .btn-warning {
  border: #4D4D4D solid 0.2px;
  background-color: #E6FF2A !important;
  color: black !important;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.partners-section .btn-warning:hover {
  border: #4D4D4D solid 0.2px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.partners-section .parters-icons img {
  min-width: 150px;
}
.partners-section__images a {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.partners-section__images img {
  max-width: 250px;
}
.partners-section .patrocinantes h5 {
  background-color: #000;
  color: #FFF;
  max-width: 600px;
  text-align: center;
}

.ugambanner {
  background-color: #FFF;
  padding: 150px 0 150px 0;
}
.ugambanner a {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
.ugambanner a img {
  width: 60px;
  padding: 0 10px;
}
.ugambanner img {
  width: 250px;
}
.ugambanner h3 {
  max-width: 800px;
  font-size: 1rem;
}

.ugambanner a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.ugambanner a:hover span {
  display: block;
}

.partners_invite {
  background-color: #212529;
  color: #FFF;
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.exp {
  height: 500px;
  background-image: url("https://res.cloudinary.com/arawato666/image/upload/v1659319980/UGAM/fondo_c3fw6r.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.exp img {
  width: 200px;
  height: 260px;
}
.exp h2 {
  -webkit-margin-before: 40px;
          margin-block-start: 40px;
  text-align: center;
  color: #000;
  font-family: "Carter One", cursive;
}

.listDisplay {
  background-color: #E2E2E2;
}

.listDisplay a {
  background-color: #E2E2E2;
  border: none;
}

.organization-content h3 {
  font-family: "Carter One", cursive;
}

.education {
  background-color: #212529;
  color: #E6FF2A;
}
.education p {
  color: #E3E3E3;
}

.separate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
.separate__div {
  background-color: #E6FF2A;
  height: 2px;
  width: 70vw;
}

.education_carousel {
  background-color: #212529;
  color: #E3E3E3;
}
.education_carousel__img {
  display: none;
}
.education_carousel__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-inline: 10px;
}
.education_carousel__content h4 {
  text-transform: uppercase;
  padding-bottom: 20px;
  color: #E6FF2A;
}
.education_carousel .carousel-inner .carousel-item > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.education_carousel__img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 40vh;
  width: 70vw;
  max-width: 450px;
  overflow: hidden;
}

.educactionIcons {
  width: 30px;
  margin-bottom: 20px;
  -webkit-filter: invert(80%) sepia(78%) saturate(450%) hue-rotate(13deg) brightness(107%) contrast(102%);
          filter: invert(80%) sepia(78%) saturate(450%) hue-rotate(13deg) brightness(107%) contrast(102%);
}

.listDisplay {
  background-color: #212529 !important;
  color: #FFF !important;
}
.listDisplay .list-group-item {
  color: #FFF;
  background-color: #212529 !important;
}
.listDisplay .list-group-item:hover {
  color: inherit;
}
.listDisplay .active {
  background-color: #E6FF2A !important;
  color: #212529 !important;
}