* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #FFB300;
}

.main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-logo h1 {
  display: none;
  font-size: 1.5rem;
  -webkit-margin-start: 20px;
          margin-inline-start: 20px;
  -webkit-padding-before: 10px;
          padding-block-start: 10px;
}

.section-one {
  height: 600px;
  background-image: url("https://res.cloudinary.com/arawato666/image/upload/v1658958765/UGAM/background_tekjim.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-one img {
  width: 200px;
  height: 260px;
}
.section-one h1 {
  -webkit-margin-before: 40px;
          margin-block-start: 40px;
  text-align: center;
  color: #000;
}

.grey-div-down {
  height: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6fbfe), color-stop(#f1f5f8), color-stop(#ebeef1), color-stop(#e6e8eb), to(#e0e2e4));
  background-image: linear-gradient(to bottom, #f6fbfe, #f1f5f8, #ebeef1, #e6e8eb, #e0e2e4);
}

.grey-div-up {
  height: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e0e2e4), color-stop(#e6e8eb), color-stop(#ebeef1), color-stop(#f1f5f8), to(#f6fbfe));
  background-image: linear-gradient(to bottom, #e0e2e4, #e6e8eb, #ebeef1, #f1f5f8, #f6fbfe);
}

.section-two img {
  width: 150px;
}
.section-two h3 {
  max-width: 800px;
  font-size: 1rem;
}

.aboutUsCards a {
  text-decoration: none;
  color: var(--bs-card-color);
}
.aboutUsCards a:hover {
  color: #000;
}

.card-ugam {
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

.card-ugam:hover {
  -webkit-box-shadow: 2px 2px 10px 3px rgba(255, 179, 0, 0.8);
          box-shadow: 2px 2px 10px 3px rgba(255, 179, 0, 0.8);
}

.card-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card-icon-container .card-icon {
  width: 40px;
  margin-bottom: 5px;
  -webkit-filter: drop-shadow(1px 1px 5px #4D4D4D);
          filter: drop-shadow(1px 1px 5px #4D4D4D);
}

#galleryOne {
  position: relative;
}

#galleryOne img {
  max-height: 280px;
}

#galleryOne .overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), to(transparent));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), transparent);
}